<h1>Edit user</h1>

<form id="edit-user" name="user">
  <div class="field">
    <label for="firstname"> firstname:</label>
    <input type="text" name="firstname" id="firstname" value="<%= firstname %>" >
  </div>

  <div class="field">
    <label for="middlename"> middlename:</label>
    <input type="text" name="middlename" id="middlename" value="<%= middlename %>" >
  </div>

  <div class="field">
    <label for="lastname"> lastname:</label>
    <input type="text" name="lastname" id="lastname" value="<%= lastname %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update User" />
  </div>

</form>

<a href="#/index">Back</a>