<% if (currentUser) { %>
  <a href="#/users">Сотрудники</a>
  <a href="#/projects">Проекты</a>
  <a href="#/tasks">Задачи</a>

  <a class="right">Выход</a>
<% } else { %>
  <a class="right">Вход</a>
<% } %>